body {
  font-family: 'Source Sans Pro', sans-serif;
/*  background-image: url('../img/bicycle-splash3.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;*/
}

.container-fluid {
  padding-right: 0;
  padding-left:0;
}

.splash-image img {
    z-index: -1;
    left: 0px;
    top: 0px;
    position: relative;
    height:100vh;
}
.splash-header {
	width:100%;
	min-height: 750px;
	margin:0 auto 30px;
	padding:10px 0;
	background:url(../img/bicycle-splash3.jpg) top center no-repeat fixed;
	background-size:100%;
	@media screen and (max-width:1500px){
		background-size:auto;
}

/*.splash-text-bubble {
  width: 45%;
  height:0;
  padding-bottom: 45%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  z-index:2;
  left: 3%;
  top: 3%;
  opacity: 0.85;
  position: absolute;
}*/

.bubble-text {
  z-index:10;
  left: 5%;
  top: 23%;
  position:absolute;
  text-align:center;
  background:white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
    width: 50%;
    height:50%;
    padding:5%;
      opacity: 0.85;
}


.navigation {
    position: relative;
    width: 50%;
    padding-bottom: 25%;
    overflow: hidden;
    background: #4679BD;
}

.content {

}
