.header {
  margin-top: 6rem;
}

.header {
  &__title {
    font-family: 'American Typewriter', Arial, sans-serif;
    font-size: 3rem;
    color: #488B8F;
  }
  &__subtitle {
    font-size: 1.3rem;
    color: #434343; 
  }
  &__intro {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 2rem;
    color: #535353;
  }
  &__photo img {
    height: 300px;
    width: 300px;
  }
  hr {
    border: #ADD2C9 solid 2.5px;
    width: 100px;
    margin:0;
  }
}