.header {
  margin-top: 6rem;
}

.header {
  &__title {
    color: $color-emperor;
  }
  &__subtitle {
    font-size: 1.3rem;
    color: $color-emperor; 
  }
  &__intro {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 2rem;
  }
  &__photo img {
    height: 300px;
    width: 300px;
  }
  hr {
    border: #ADD2C9 solid 2.5px;
    width: 100px;
    margin:0;
  }
}