$highlight-color: #DD2E44;
$cube-color: #aaa;
$font-color: rgba(#000, .67);
$slant: -16deg;


.header {
  background-blend-mode: multiply;
  background-position: 50% 0%;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    position: relative;
    top: -73%;
    left: -24%;
    height: 120%;
    width: 200%;
    background-image: $gradient-banner;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
    transform: rotateZ($slant) skew($slant);

    // Need to modify this
    @media(500px) { 
    transform: rotateZ(0deg) skew(0deg);
    }
}


// .banner {
//   height: 25em;
//   overflow: hidden;
//   background: rgba($highlight-color, .5) url("http://cdn.history.com/sites/2/2015/02/golden-gate-bridge-iStock_000019197672Large-H.jpeg") no-repeat;
//   background-position: 50% 0%;
//   background-size: cover;
//   background-blend-mode: multiply;
//   &:before {
//     content: '';
//     display: block;
//     position: relative;
//     top: -50%;
//     left: -25%;
//     height: 70%;
//     width: 200%;
//     background: $highlight-color;
//     // background: linear-gradient(to bottom, $highlight-color 80%,
//     //                             darken($highlight-color, 10%));
//     box-shadow: 0px 8px 0px rgba(0,0,0,.1);
//     transform: rotateZ($slant) skew($slant);
//     @media(500px) {
//     transform: rotateZ(0deg) skew(0deg);
//     }
//   }
//   .heading {
//     position: absolute;
//     top: 5vmax;
//     left: 2vmax;
//     padding: 0;
//     margin: 0;
//     color: lighten($highlight-color, 50%);
//     font-size: 6em;
//     font-family: 'Lobster', cursive;
//     transform: rotateZ($slant);
//     text-shadow: 2px 2px 0px darken($highlight-color, 30%),
//                  4px 4px 0px darken($highlight-color, 25%),
//                  6px 6px 0px darken($highlight-color, 20%),
//                  8px 8px 0px darken($highlight-color, 15%),
//                  10px 10px 0px darken($highlight-color, 10%);
//     @media(max-width: 600px) {
//       font-size: 15vmin;
//     }
//   }
}




// .header {
//   margin-top: 6rem;
// }

// .header {
//   &__title {
//     color: $color-emperor;
//   }
//   &__subtitle {
//     color: $color-emperor; 
//     font-size: 1.3rem;
//   }
//   &__intro {
//     font-size: 1rem;
//     line-height: 2rem;
//     margin-top: 1rem;
//   }
//   &__photo img {
//     height: 300px;
//     width: 300px;
//   }
//   hr {
//     border: #ADD2C9 solid 2.5px;
//     margin:0;
//     width: 100px;
//   }
// }