// Overall style for navigation section
.nav-link {
    color: $color-boulder;
    font-size: 1.01rem;
    letter-spacing: 0.15rem;
    margin: 0 1em;
    padding: .4rem .5rem;
}

// Set styling for navigation links
li.nav-item {
    border-top: 9px solid transparent;
    &:hover {
        border-top: 9px solid lighten(desaturate($color-bright-turquoise, 26.88), 30.20);
    }
}

li.nav-item.active {
    border-top: 9px solid $color-bright-turquoise;
    &:hover {
        border-top: 9px solid darken(saturate($color-bright-turquoise, 0.17), 6.67);
    }
    a {
        color: $color-mine-shaft;
    }
}

li.nav-item a:hover {
    color: $color-mine-shaft;
}