

li.nav-item.active {
    border-top: 9px solid $color-bright-turquoise;
    a {
        color: $color-mine-shaft;
    }
}

li.nav-item {
    border-top: 9px solid transparent;
    &:hover {
        border-top: 9px solid lighten(desaturate($color-bright-turquoise, 26.88), 30.20);
    }
}

li.nav-item a:hover {
    color: $color-mine-shaft;
}


.nav-link {
    color: $color-boulder;
    padding: .4rem .5rem;
    font-size: 1.01rem;
    margin: 0 1em;
    letter-spacing: 0.01rem;
}