li.nav-item {
    font-family: $font-family;
}

a.active {
    border-bottom: 1.8px dashed black;
}

a:hover {
    color: #042a2b;
    // border-bottom: 1.9px dashed #042a2b;
}

li.nav-item:hover {
    background-color: #e7e247;
    border-radius: 11px;
}

.nav {
    margin: 1rem;
}

.nav-link {
    color: black;
    padding: .1rem .5rem;
    margin: 1rem 2rem;
    font-size: 1.01rem;
    letter-spacing: 0.01rem;
}