body {
    background-color: $color-white;
    color: $color-emperor;
    font-family: $font-family;
    margin: 0;
    padding:0;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }